@media screen and (min-width: 400px) {}


.container {
    width: 100%;
    margin: auto;
}

.portada {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/img-inicio.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 274px;

}

.fecha {
    display: flex;
    align-items: center;
    width: 242px;
    justify-content: space-around;
}

.mes {
    width: 189px;
    color: #F6F0E9;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Libre Baskerville;
    font-size: 20px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.6px;
}

.dia {
    width: 89px;
    color: #F6F0E9;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: Libre Baskerville;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
}

.anio {
    width: 51px;
}

.nos-casamos {
    height: 410px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-image: url(../images/fondo-casamos.png);
    background-position: 50% 50%;
    background-repeat: repeat-y;
    background-size: cover;
}

.nos-casamos svg {
    margin-top: 69px;
}

.nos-casamos p {
    color: #8B965D;
    text-align: center;
    font-variant-numeric: ordinal;
    font-family: Libre Baskerville;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.945px;
}

.nos-casamos h1 {
    color: #4D3107;
    text-align: center;
    font-variant-numeric: ordinal;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.26px;
}

.nos-casamos h2 {
    color: #000;
    text-align: center;
    font-family: Montserrat;
    font-size: 8px;
    font-style: normal;
    font-weight: 371;
    line-height: normal;
    letter-spacing: -0.12px;
    text-transform: uppercase;
}

#cuenta-regresiva {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.simply-section {
    background-color: #d0d4c1;
    width: 80px;
    height: 40px;
    margin: 0 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.simply-amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #8B965D;
    text-align: center;
    font-variant-numeric: ordinal;
    font-family: Montserrat;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.945px;
}

.simply-word {
    color: #8B965D;
    text-align: center;
    font-variant-numeric: ordinal;
    font-family: Montserrat;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.945px;
}

.separador {
    width: 100%;
}

/* VILLA DE LEYVA */

.contenedor-villa-leyva {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.separador-abajo {
    align-self: flex-end;
}

.villa-leyva {
    display: flex;
    justify-content: space-between;
    background-image: url(../images/fondo-generico.png), url(../images/fondo-plantas.png);
    background-repeat: repeat-y, no-repeat;
    background-position: center, 0% 0%;
    background-size: contain;
}

.tiulo-villa-leyva {
    margin-top: 45px;
}

.villa-leyva video {
    align-self: flex-end;
    width: 35%;

}

.texto {

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
}

.villa-leyva p {
    font-variant-numeric: ordinal;
    font-family: Libre Baskerville;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: 138%;
    letter-spacing: 0.45px;
    margin-left: 60px;
    margin-right: 23px;
}

/* TIME LINE */


/* CEREMONIA RECEPCION */
.ceremonia-recepcion {
    width: 100%;
    max-width: 100%;
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/fondo-generico.png);
    background-repeat: repeat-y;
    background-size: contain;
}

.ceremonia-svg {
    width: 100%;
    max-width: 100%;
}


.ceremonia-recepcion h1 {
    color: #8B965D;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 16.32px;
    opacity: 0.3400000035762787;
}

.ceremonia-img {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.ceremonia-img img {
    width: 50%;
    max-width: 100%;
    margin-bottom: 32px;
}

.texto-ceremonia {
    position: absolute;
    z-index: 0;
}

.fondo-ceremonia {

    z-index: 1;
}

.texto-fondo {
    width: auto;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 78px;
    margin-bottom: 47px;
}

.texto-pequeno {
    color: #4D3107;
    font-variant-numeric: ordinal;
    font-family: Literata;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.765px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.texto-grande {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #4D3107;
    text-align: center;
    font-variant-numeric: ordinal;
    font-family: Literata;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 3.64px;
}

#map {
    margin-top: 20px;
    border-style: groove;
    border-radius: 10px;
    border-color: #d0d4c1;
    height: 400px;
    width: 80%;
}

#form {
    background-image: url(../images/fondo-generico.png);
    background-repeat: repeat-y;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#form form {
    display: flex;
    flex-direction: column;
}

#form h1 {
    margin-top: 64px;
    color: #8B965D;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 582;
    line-height: normal;
    letter-spacing: 2.24px;
    text-transform: uppercase;
}

#form p {
    color: #4D3107;
    text-align: center;
    font-family: Montserrat;
    font-size: 8px;
    font-style: normal;
    font-weight: 371;
    line-height: normal;
    letter-spacing: -0.12px;
    text-transform: uppercase;
}

#form form [type="submit"] {
    color: #4D3107;
    text-align: center;
    font-variant-numeric: ordinal;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.85px;
    border-radius: 2px;
    border-style: none;
    background: #8B965D;
    width: 94px;
    height: 25px;
    margin: auto;
    margin-top: 14px;
    margin-bottom: 53px;

}

#form [type="text"] {
    border-radius: 2px;
    border-style: none;
    background: rgba(139, 150, 93, 0.54);
    width: 261px;
    height: 19px;
    margin-top: 8px;
}

#form form ::placeholder {
    color: #4D3107;
    text-align: center;
    font-family: Montserrat;
    font-size: 8px;
    font-style: normal;
    font-weight: 371;
    line-height: normal;
    letter-spacing: -0.12px;
    text-transform: uppercase;
}

#form #mensaje {
    width: 261px;
    height: 52px;
}